*.i
*.p1
*.d
*.cmf
*.elf
*.hxl
*.lst
*.map
*.mum
*.o
*.rlf
*.sdb
*.sym
*.hex
*.log
*.mk
*.properties
/02_SW/01_Dozator.X/nbproject/*.mk
/02_SW/01_Dozator.X/nbproject/*.properties
/02_SW/01_Dozator.X/MyConfig.mc3

/02_SW/01_Dozator.X/dist/default/debug/memoryfile.xml
/02_SW/01_Dozator.X/dist/default/production/memoryfile.xml
/02_SW/01_Dozator.X/nbproject/private/configurations.xml
/02_SW/01_Dozator.X/nbproject/configurations.xml
/02_SW/01_Dozator.X/nbproject/private/private.xml
